ul {
  list-style-type: none;
}

.main {
  padding: 0 150px;
}

.faq-container {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
}

.faq-title {
  font-size: 34px;
  margin: 40px 0;
  text-align: center;
}

.faq {
  padding-bottom: 16px;
  margin-bottom: 32px;
  border-bottom: 1px solid #e5e7eb;
}

.faq-question {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border-radius: 0;
  color: unset;
  padding: 0;
  border: none;
  transition: all 0.3s;
}

.faq-question h3 {
  font-size: 20px;
}

.faq-question i {
  transition: all 0.3s;
}

.faq .faq-question:focus ~ .faq-answer {
  display: inline-block;
}

.faq .faq-question:focus i {
  transform: rotate(45deg);
}

.faq-question i {
  width: 15px;
  height: 17px;
}

.faq-question i img {
  width: 15px;
}

.faq-answer {
  display: none;
  margin: 20px 0;
}

.faq.open .faq-question i {
}
