
@media only screen and (max-width: 600px) { 
    /* Adjust styles for even smaller screens */


    header {
        padding: 3px 10% 0 10%;
    }

    :root {
        --header-height: 80px;
    }

    #nav-toggle-cb {
        display: none;
    }

    .nav-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--header-height);
        height: var(--header-height);
        cursor: pointer;
    }

    nav ul {
        display: block;
        width: max-content;
        padding-left: 30px;
    }

    .nav-menu {
        position: absolute;
        top: 13%;
        width: 150px;
        right: 8%;
        background-color: #e5e7eb;
        transform: scale(1, 0);
        transform-origin: right;
        transition: transform .3s ease-in-out;
        border-radius: 3px;
        padding-top: 15px;
       

    }

    .nav-menu__list li {
        padding: 5px;
        color: #1f2937;
        height: 35px;
    }

    .nav-menu__list li a {
        display: inline-block;
        text-align: right;
        opacity: 0;
    }


    input:checked~nav {
        transform: scale(1, 1);
    }

    input:checked~nav li a {
        opacity: 1;
        transition: opacity .5s ease-in-out .5s;
        color: #1f2937;
    }

    input~.nav-toggle i {
        transition: rotate .5s;
        color: #e5e7eb;
    }

    input:checked~.nav-toggle i {
        transform: rotate(90deg);
        color: #e5e7eb;
    }


    .jumbotron {
        padding: 5% 3%;
        flex-direction: column;
        text-align: center;
    }

    .jumbotron .first-section {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .jumbotron picture img {
        margin-bottom: 20px;
        max-width: 100%;
        height: auto;
    }

    .random-info .container {
        flex-wrap: wrap;
    }

    .random-info .container div {
        width: 100%;
        margin: 10px 0;
    }

    .quote {
        padding: 50px 4px;
        font-size: 15px;
    }

    .quote div {
        max-width: 100%;
        word-wrap: break-word;
        overflow-y: auto;
        padding: 10px;
    }

    .call-to-action {
        margin: 5% 3%;
        padding: 5% 3%;
        flex-direction: column;
        align-items: center;
    }

    .call-to-action div {
        text-align: center;
    }

    .call-to-action .button-link {
        margin-top: 20px;
    }

}